<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui menu">
      <a class="item" routerLink="">
        <i class="icon home"></i>
        WooChat
      </a>
      <div class="right menu" *ngIf="(authState$ | async).authenticated">
        <a routerLink="/dashboard" class="item">Dashboard</a>
        <div class="item">{{  (authState$ | async).user.name }}</div>
      </div>
      <div class="right menu" *ngIf="!(authState$ | async).authenticated">
        <a routerLink="/login" class="item">Login</a>
        <a routerLink="/register" class="item">Register</a>
      </div>
    </div>
    <div class="ui container">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
